body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

.exercise-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

#exercise-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.exercise {
    width: 250px;
    margin: 15px;
    text-align: center;
}

.exercise img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.exercise p {
    margin-top: 10px;
    font-weight: bold;
}

/* Add additional styling as needed */
